@charset "UTF-8";
H1 {font-size: 22pt; font-weight: normal; font-family: "メイリオ";}
BODY { background-image: url(/images/bgimage.gif); }
#canvas {width: 90%; position: relative; left: 5%;} /* gpx Map */

/* アルバムオブジェクト(写真、ビデオ) */
.container {	/* オブジェクト・コンテナ */
	width: 100%;
	margin: 0 auto;
}
.album_object {	/* オブジェクト本体 */
        display: inline-block;
	vertical-align: top;
        margin-left: 0px;
        width: 24%;
}
.album_object .title {	/* オブジェクトのタイトル */
	padding-bottom: 20px;
}
.image_rotated {	/* 回転画像用 */
	margin-top: 10%;
	margin-bottom: 15%;
}
.playbutton {	/* ビデオの再生ボタン */
	position: relative;
	width: 50%;
	height: auto;
	left: 22%;
	bottom: 150;
}

