<?php
  $psqlAlbum['AlbumName']   = "東南アジア旅行2012";
  $psqlAlbum['Description'] = "東南アジア旅行2012 写真アルバム";
  $psqlAlbum['AlbumAuthor'] = "市川ゆり子";
  $psqlAlbum['AuthorTwitterAccount'] = "@IchikawaYukko";
  $psqlAlbum['SiteLang']= "ja";   //<HTML lang="xx">
  //URLs
  $psqlAlbum['DomainName']  = "http://ichikawayukko.mydns.jp/";
  $psqlAlbum['AlbumRoot']   = $psqlAlbum['DomainName']."SoutheastAsia2012/";
  //Paths
  $psqlAlbum['DocumentRoot']= "/mnt/data";
  //Relative Paths (from AlbumRoot)
  $psqlAlbum['LibDir']      = "../lib/";	//OpenLayers.js etc...
  $psqlAlbum['AlbumLibDir'] = "../lib/psqlAlbum/";
  $psqlAlbum['PhotoDir']    = "./";
  $psqlAlbum['VideoDir']    = "video/";
  $psqlAlbum['ThumbnailDir']= "thumbs/";
  $psqlAlbum['GPXdir']      = "GPX/";
  //PostgreSQL settings.
  $db_param['Server']       = "localhost";
  $db_param['DBname']       = "southeast_asia2012";
  $db_param['Username']     = "yuriko";
  $db_param['Password']     = "********************";
?>
